/* Pon tu código css aqui */
.caja {
	width: 25%;
	height: 100px;
	float: right;
}

.yellow {
	background-color: yellow;
}

.blue {
	background-color: blue;
}

.red {
	background-color: red;
}

.box {
	width: 600px;
	border: 1px solid #737070;
}